body {
  font-family: forge;
  font-size: 20px;
}

header {
  background-color: blue;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

section {
  margin-bottom: 20px;
        animation: moveLeft .5s infinite alternate;

}

h2 {
  color: #333;
}

ul, ol {
  margin-left: 20px;
}

footer {
  background-color: blue;
  color: #fff;
  padding: 10px;
  text-align: center;
      animation: blink 1s infinite;
        margin: 20px;
}
@keyframes fadeIn {
   from { opacity:0; }
   to { opacity:1; }
}

@keyframes moveLeft{
  to{
    transform: translateX(10px);
  }
}

@keyframes moveUp{
  to{
    transform: translateY(10px);
  }
}

@keyframes rainbow {
  0% { background-color: red; }
  14% { background-color: orange; }
  28% { background-color: yellow; }
  42% { background-color: green; }
  57% { background-color: blue; }
  71% { background-color: indigo; }
  85% { background-color: violet; }
  100% { background-color: red; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
